body,
button,
input,
select,
optgroup,
textarea {
  font-family: $font--main;
  font-size: 1rem;
  line-height: $font--line-height-body;
  color: $color--text-main;
}

@import 'headings';
@import 'copy';
