// stylelint-disable value-keyword-case
$font--main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font--code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font--pre: "Courier 10 Pitch", courier, monospace;
$font--line-height-body: 1.5;
$font--line-height-pre: 1.6;
