a {
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  color: $color--link;

  &:visited {
    color: $color--link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color--link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
